.about {
	padding-top: 140px;
	padding-bottom: 180px;

	&__contant {
		max-width: 768px;
		margin: 0 auto;

		h2 {
			position: relative;
			margin: 0 0 32px 0;
			padding: 35px 0 35px 70px;
			transform: translate(0, 40%);
			opacity: 0;
			transition: all 0.5s ease 0.1s;
		}
		h2._active-anim {
			transform: translate(0, 0);
			opacity: 1;
		}

		h2::after {
			content: '';
			width: 150px;
			height: 105px;
			position: absolute;
			top: 50%;
			left: 0;
			transform: translate(0, -50%);
			background-image: url(../img/Vector.svg);
			background-repeat: no-repeat;
			background-size: contain;
		}

		p {
			font-family: 'Open Sans';
			font-weight: 400;
			font-size: 20px;
			line-height: 32px;
			color: #595962;
			transform: translate(0, 40%);
			opacity: 0;
			transition: all 0.5s ease 0.2s;
		}
		p._active-anim {
			transform: translate(0, 0);
			opacity: 1;
		}

		.about__last_p {
			margin-top: 50px;
		}

		a {
			display: inline-block;
			position: relative;
			font-family: 'Inter';
			font-style: normal;
			font-weight: 800;
			font-size: 14px;
			line-height: 18px;
			letter-spacing: 1px;
			text-transform: uppercase;
			color: #131316;
			padding: 17px 38px 17px 0;
			margin-top: 32px;
			transform: translate(0, 40%);
			opacity: 0;
			transition: all 0.5s ease 0.3s;

			span::after {
				content: '';
				width: 22px;
				height: 22px;
				position: absolute;
				top: 50%;
				right: 0;
				transform: translate(0, -50%);
				background-image: url(../img/arrow.svg);
				background-repeat: no-repeat;
			}
		}
		a._active-anim {
			transform: translate(0, 0);
			opacity: 1;
		}
		a:hover {
			opacity: 0.7;
		}
	}
}

@media (max-width: 834px) {
	.about {
		padding: 110px 0;
	}
	.about__contant {
		max-width: 620px;
	}
}

@media (max-width: 428px) {
	.about {
		padding: 80px 0;
	}
	.about__contant {
		max-width: 388px;
		padding: 0 5px;

		h2 {
			padding: 20px 0 20px 50px;
		}
		h2::after {
			width: 100px;
			height: 70px;
		}
		.about__last_p {
			margin-top: 46px;
		}
	}
}
